<div class="container mt-2 mb-4">
  {{#if messages.success}}
  <div class="text-success">
    {{#each messages.success}}
    <div>{{msg}}</div>
    {{/each}}
  </div>
  {{/if}} {{#if messages.error}}
  <div class="text-danger">
    {{#each messages.error}}
    <div>{{msg}}</div>
    {{/each}}
  </div>
  {{/if}}

  <!---<h1 class="col-sm-12">Lista de Manuais</h1>-->

  <img src="/images/logoFull.png" align="center" style="display: block; margin-left: auto; margin-right: auto; width: 220px; margin-top: 30px;"/>

  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Pesquisar" aria-label="Search" onkeyup="document.getElementById('btnSearch').href = '/manual/search/'+this.value">
    <div class="input-group-append">
      <a class="btn btn-outline-dark" style="background-color: #185285; color:#fff; font-weight:bold;" id="btnSearch" href="/manual">Pesquisar</a>
    </div>
  </div>
  {{#if manual.length}}
    {{#each manual}}
    <dl class="row clickable" onclick="location.href='/manual/show/{{_id}}'">
      <dt class="col-sm-9 pt-2">{{title}}{{#unless isActive}} -- <small style="color:#F55">Inativo</small>{{/unless}}</dt>
      <dd class="col-sm-9 pb-2">{{caption}}</dd>
    </dl>
    {{/each}}
  {{else}}
  <div>Nenhum manual encontrado.</div>
  {{/if}}
  <br>
</div>