<style>
  .favoritos {
    border: 0px;
    display: flex;
    align-items: center;
  }

  .favoritos .icone {
    margin-right: 10px;
  }

  .favoritos .icone button {
    border: 0;
    cursor: pointer;
  }

  .favoritos .info {
    cursor: pointer;
  }

  .empresa {
    width: 250px;
  }

  .empresa select {
    border-radius: 0 !important;
  }
</style>

<div class="container mt-2 mb-4">
  {{#if messages.success}}
  <div class="text-success">
    {{#each messages.success}}
    <div>{{msg}}</div>
    {{/each}}
  </div>
  {{/if}} {{#if messages.error}}
  <div class="text-danger">
    {{#each messages.error}}
    <div>{{msg}}</div>
    {{/each}}
  </div>
  {{/if}}

  <img src="/images/logoFull.png" align="center" style="display: block; margin-left: auto; margin-right: auto; width: 220px; margin-top: 30px;"/>

  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Pesquisar" id="buscar" aria-label="Search" id="buscar">
    <div class="empresa">
      <select id="empresa" class="form-control">
        <option value="">Empresa</option>
        {{!-- <option value="option1">Empresa 1</option> --}}
        {{!-- <option value="option2">Empresa 2</option> --}}
        {{#each empresa}}
          <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </div>
    <div class="input-group-append">
      <a class="btn btn-outline-dark" style="background-color: #185285; color:#fff; font-weight:bold;" id="btnSearch">Pesquisar</a>
    </div>
  </div>

  {{#if manual.length}}
    <ul style="margin: 0; padding: 0;">
      {{#each manual }}
        <li class="favoritos">
          <div class="icone">
            <button onclick="favorito('{{_id}}')">
              {{#if favorito }}
                <i class="fa fa-star"></i>
              {{else}}
                <i class="fa fa-star-o" aria-hidden="true"></i>
              {{/if}}
            </button>
          </div>
          <div class="info" onclick="location.href='/manual/show/{{_id}}'">
            {{title}}
            {{#unless isActive}} -- <small style="color:#F55">Inativo</small>{{/unless}}
            <br>
            {{caption}}
          </div>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <div>
      Nenhum manual encontrado.
    </div>
  {{/if}}
</div>

<script>
  function favorito(id) {
    $.ajax(`/favorito/${id}`)
      .done(function(data) {
        alert(data.msg)
        location.reload()
      })
      .fail(function(error) {
        console.log(error)
        alert("Ops! Serviço indisponível, tente mais tarde.")
      })
  }

  $( document ).ready(function() {
    $( "#buscar" ).keyup(function(e) {
      const code = e.which

      if(code == 13) {
        if (!this.value) {
          alert('Ops! O campo "pesquisa" está em branco.')
          return 
        }

        window.location = `/manual/search/?manual=${this.value}&empresa=${$('#empresa option:checked').val()}`
      }
    })

    $('#btnSearch').click(e => {
      if (!$( "#buscar" ).val()) {
        alert('Ops! O campo "pesquisa" está em branco.')
        return 
      }

      window.location = `/manual/search/?manual=${$( "#buscar" ).val()}&empresa=${$('#empresa option:checked').val()}`
    })
  })
</script>