<style>
  .favoritos {
    border: 0px;
    display: flex;
    align-items: center;
  }

  .favoritos .icone {
    margin-right: 10px;
  }

  .favoritos .icone button {
    border: 0;
    cursor: pointer;
  }

  .favoritos .info {
    cursor: pointer;
  }
</style>

<div class="container mt-2 mb-4">
  {{#if messages.success}}
  <div class="text-success">
    {{#each messages.success}}
    <div>{{msg}}</div>
    {{/each}}
  </div>
  {{/if}} {{#if messages.error}}
  <div class="text-danger">
    {{#each messages.error}}
    <div>{{msg}}</div>
    {{/each}}
  </div>
  {{/if}}

  <img src="/images/logoFull.png" align="center" style="display: block; margin-left: auto; margin-right: auto; width: 220px; margin-top: 30px;"/>

  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Pesquisar" aria-label="Search" onkeyup="document.getElementById('btnSearch').href = '/manual/search/'+this.value">
    <div class="input-group-append">
      <a class="btn btn-outline-dark" style="background-color: #185285; color:#fff; font-weight:bold;" id="btnSearch" href="/manual">Pesquisar</a>
    </div>
  </div>

  {{#if manual.length}}
    <ul style="margin: 0; padding: 0;">
      {{#each manual }}
        <li class="favoritos">
          <div class="icone">
            <button onclick="favorito('{{_id}}')">
              {{#if favorito }}
                <i class="fa fa-star"></i>
              {{else}}
                <i class="fa fa-star-o" aria-hidden="true"></i>
              {{/if}}
            </button>
          </div>
          <div class="info" onclick="location.href='/manual/show/{{_id}}'">
            {{title}}
            {{#unless isActive}} -- <small style="color:#F55">Inativo</small>{{/unless}}
            <br>
            {{caption}}
          </div>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <div>
      Nenhum manual encontrado.
    </div>
  {{/if}}
</div>

<script>
  function favorito(id) {
    $.ajax(`/favorito/${id}` )
      .done(function(data) {
        alert(data.msg)
        location.reload()
      })
      .fail(function(error) {
        console.log(error)
        alert("Ops! Serviço indisponível, tente mais tarde.")
      })
  }
</script>